APP_PORT='4588'

#Solo descomentar en produccion
#APP_URL='https://subdomino.solutionslion.com/'

APP_NAME='nombreapp'

DB_NAME='nombre_db'
DB_USER='test'
DB_PASS='test'

SET_ROOT_PASSWORD='root'

PLATFORM_PORT='4589'

BACKEND_PLATFORM_URL = http://backend:8080/